# IDEA related files and configs
/.idea/
/*.iml

# IDEA's default .gitignore:
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Maven related files:
/target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store